* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed; 
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #081b29;
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: transparent;
    padding: 0px;
    border: 0px;  
     
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: -4.5px;
    transition: 0.3s;
    overflow: hidden;
    padding: 20.5px 35px;
    
}

.navbar a:hover {
    color: pink;
    border-bottom: 3px solid white;
    padding-bottom: 17px;
    background: black;
}

p {
    color:coral;
}
