* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #081b29;
    color: #ededed; 
    position: relative;
    padding: 75px;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    height: 65px;
    /* background: transparent; */
    background: #081b29;
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: hsl(205, 67%, 10%);
    padding: 0px;
    border: 0px;
    /* width: 100%; */
    display: flex;
    align-items: center;
    
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    overflow: hidden;
    padding: 10px 15px;
    border-bottom: 3px solid 081b29;;
    
}

.navbar a:hover {
    color: pink;
    border-bottom: 3px solid white;
    background-color: black;
    
}

.skillpagetitle {
    text-align: center;
    font-size: 60px;
    margin-top: 120px;
    margin-bottom: 80px;
}

.skills{
    width: 80%;
    margin: auto;
}

.skill{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin-bottom: 120px;
    gap: 40px;
}

.skill_opposite{
    flex-direction: row-reverse;
}

.skill img{
    width: 500px;
    height: auto;
}

.skill_text{
    width: 500px;
}

.skill_text h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.skill_text p {
    font-size: 18px;
    line-height: 1.6;
}