p {
    color: red;
    font-size: 16px;
}

h1{
    color:green;
    font-size: 24px;
    border: 2px solid powderblue;
    padding: 30px;
}

.center{
    text-align: center;
    color: blue;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    display: flex;
    justify-content: center;
}

ul li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #111111;
}